* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #33a3ff;
  font-size: medium;
  line-height: 1.5rem;
  font-family: Verdana, Tahoma, sans-serif;
  color: white;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color:#000033;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

header::after {
  position: absolute;
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-2deg);
  background-color: #000033;
}

h1 {
  text-align: center;
  font-family: "Press Start 2P", Georgia, serif;
  font-size: 175%;
  text-shadow: 5px 5px 5px #33a3ff;
}

header, h2, footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

a:link {
  color: white;
  text-decoration: underline solid 2px;
  text-underline-offset: 2px;
}
a:visited {
  color: white;
}

a:hover {
  color: rgb(255, 100, 255);             
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0rem 1rem;
  justify-items: center;
}

h2 {
  text-align: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #000033;
  border: medium solid #33a3ff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 10px 10px 10px black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000033;
  color: white;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 80%;
  width: 100%;
  position: relative;
  z-index: 1;
}

footer::before {
  position: absolute;
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  transform-origin: left top;
  transform: skewY(-2deg);
  background-color: #000033;
}

@media (min-width: 768px) {

  body {
    font-size: 120%;
  }

  header {
    gap: 2rem;
    margin-bottom: 3rem;
  }

  nav > ul {
    gap: 2rem;
  }

  .grid-container {
    gap: 2rem;
    padding: 0rem 2rem;
  }

  .grid-item {
    gap: 2rem;
    padding: 2rem;
    box-shadow: 20px 20px 20px black;
  }
  
  footer {
    margin-top: 2.5rem;
  }

}
  
@media (min-width: 1200px) {

  header {
    margin-bottom: 4rem;
  }

  .grid-container {
    display: grid;
    justify-items: stretch;
    align-items: flex-start;
    grid-template-columns: 5fr 2fr;
    margin-left: 10%;
    margin-right: 10%;
  }

  .my-links {
    justify-content: flex-start;
  }

  footer {
    margin-top: 3.5rem;
  }

}

@media (min-width: 1920px) {
  header {
    margin-bottom: 3rem;
  }

  footer {
    margin-top: 2.5rem;
  }

}

