* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #00afff, white 33% 66%, #00afff 100%);
  font-size: medium;
  line-height: 130%;
  font-family:Verdana, Tahoma, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000033;
  height: 150px;
  border-top: medium solid #fc03f7;
  border-bottom: medium solid #fc03f7;
}

h1 {
  background-color: #00afff;
  color: white;
  font-size: 250%;
  padding: 20px;
  width: 300px;
  text-align: center;
  border: medium solid #fc03f7;
  border-radius: 30px;
}

nav ul {
  display: flex;
  margin-top: 20px;
  gap: 50px;
  list-style-type: none;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}

a:hover {
  color: #fc03f7;             
}

h2 {
  font-size: 150%;
  color: #00AFFF;
  padding: 20px;
}

a.links:link {
  background-color: #00afff;
  border: thin solid black;
  padding: 5px;
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 150%;
  text-align: center;
}

.contact-form {
  width: 500px;
  padding: 20px;
  padding-left: 10px;
  margin: auto;
  border: medium solid #000033;
}

fieldset legend {
  text-align: center;
  font-size: 120%;
  padding: 20px;
}

input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}
input[type=email] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

button {
  background-color: #00afff;
  font-size: 120%;
  border: thin solid black;
  padding: 5px;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000033;
  color: white;
  height: 150px;
  border-top: medium solid #fc03f7;
  border-bottom: medium solid #fc03f7;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
