* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-image: linear-gradient(to right, #00afff, white, #00afff);
  font-size: medium;
  line-height: 130%;
  font-family:Verdana, Tahoma, sans-serif;
}

#main-header {
  position: relative;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/header-background.jpg);
  width: 100%; 
  height: 115px;
}

h1 {
  position: absolute;
  top: 10px;
  background-color: #00afff;
  color: white;
  font-size: 200%;
  padding: 10px;
  width: 300px;
  text-align: center;
  border: thin solid #fc03f7;
  border-radius: 20px;
}

nav {  
  position: absolute;
  bottom: 20px;  
}

nav li {
  background-color: #00afff;
  padding: 10px;
  display: inline;
  border: thin solid #fc03f7;
  border-radius: 20px;
}

h2, h3 {
  color: #00AFFF;
  padding: 20px;
  text-align: center;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}

a:hover {
  color: #fc03f7;
}

a.links:link {
  background-color:#fc03f7;
  border: thin solid black;
  padding: 5px;
  color: black;
}

a.links:visited {
  color: black;
}

a.links:hover {
  color: white;
}

h2 {
  font-size: 150%;
}

h3 {
  margin-bottom: 2px;
  font-size: 120%;
}

.contact-form {
  width: 500px;
  padding: 20px;
  padding-left: 10px;
  margin: auto;
  border: medium solid #436778;
}

fieldset legend {
  text-align: center;
  font-size: 120%;
}

input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}
input[type=email] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}

button {
  background-color:#fc03f7;
  font-size: 120%;
  border: thin solid black;
  padding: 5px;
  color: black;
}

.aboutMe ul {
  list-style-type: none;
}

.aboutMe a:link {
  color: #00afff;
}

.aboutMe a:visited {
  color: #00afff;
}

.aboutMe a:hover {
  color:#fc03f7;
}

img {
  border: thin solid #fc03f7;
  border-radius: 20px;
}

hr {
  border: thin solid #fc03f7;
}

footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/header-background.jpg);
  width: 100%;
  height: 115px;
}

#copyright {
  position: absolute;
  top: 30px;
  color: white;
  text-align: center;
}

p {
  text-align: center;
  text-align: justify;
  padding: 20px;
}
