* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to right, #00afff 0%, white, #00afff 33%, white, #00afff 66%, white, #00afff 100%);
  font-size: medium;
  line-height: 160%;
  font-family:Verdana, Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  background-color: #000033;
  border-top: medium solid white;
  border-bottom: medium solid white;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  color: white;
  text-align: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}

a:hover {
  color: #fc03f7;   
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-updates {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.update {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: medium solid #000033;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px;
  text-align: center;
}

.inline-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border: thin solid #000033;
  border-radius: 20px;
}

a.links:link {
  color: black;
  text-align: center;
}

a.links:visited {
  color: black;
}

a.links:hover {
  color: #fc03f7;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000033;
  color: white;
  padding: 20px;
  border-top: medium solid white;
  border-bottom: medium solid white;
  font-size: 80%;
}

@media (min-width: 768px) {

  body {
    font-size: 120%;
  }

  header {
    gap: 40px;
    padding: 40px;
    margin-bottom: 40px;
  }

  nav ul {
    gap: 40px;
  }

  .recent-updates {
    gap: 40px;
    padding: 40px;
  }

  .update {
    gap: 40px;
    padding: 40px;
    box-shadow: 20px 20px 20px 10px;
  }

  footer {
    padding: 40px;
  }

}

@media (min-width: 992px) {

  .recent-updates {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1200px) {

  .recent-updates {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }

}

